# Reading Values From User

In [1]:
a=int(input("ENTER VALUE N: "))
b=int(input("ENTER VALUE P: "))
c=int(input("ENTER VALUE K: "))
d=int(input("ENTER VALUE TEMPERATURE: "))
e=int(input("ENTER VALUE HUMIDITY: "))
f=int(input("ENTER VALUE PH: "))
g=int(input("ENTER VALUE RAINFALL: "))
h=int(input('ENTER EXPECTED PRODUCTION FROM 1-100: '))

ENTER VALUE N: 20
ENTER VALUE P: 20
ENTER VALUE K: 6
ENTER VALUE TEMPERATURE: 20
ENTER VALUE HUMIDITY: 5
ENTER VALUE PH: 6
ENTER VALUE RAINFALL: 8
ENTER EXPECTED PRODUCTION FROM 1-100: 50

### import pandas as pd

In [2]:
import numpy as np
import pandas as pd

# Reading DataSet

In [3]:
df=pd.read_csv(r"A:\agriculture project\innovative\datasets\Crop_recommendation.csv")

In [4]:
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

# Coping Crops Label

In [5]:
target=df['label']

In [6]:
target.head()

0    rice
1    rice
2    rice
3    rice
4    rice
Name: label, dtype: object

In [7]:
parameters=df.drop("label",axis="columns")

In [8]:
parameters.isnull().sum().sum()

0

# IMPORTING DECISION TREE FOR DECISION

In [9]:
from sklearn import tree

In [10]:
model=tree.DecisionTreeClassifier()

In [11]:
model.fit(parameters,target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [12]:
model.score(parameters,target)

1.0

In [13]:
recommend_predict=model.predict([[a,b,c,d,e,f,g]])
for i in recommend_predict:
    recommend_predict=i

In [14]:
recommended_crops=list(set(df['label']))#recommendation system data

In [15]:
#recommended_crops

# IMPORTING INDIAN CROP DATA SET

In [16]:
import pandas as pd
import numpy as np

In [17]:
df2=pd.read_csv(r"A:\agriculture project\innovative\datasets\India Agriculture Crop Production.csv")

In [18]:
df2.head()

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2001-02,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-03,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-04,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2001-02,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2002-03,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296

In [19]:
modified_parameters=df2['Production'].iloc[:2200]
modified_parameters.fillna(1200,inplace=True)

In [20]:
modified_parameters.isnull().sum().sum()

0

In [21]:
parameters['new_production']=modified_parameters
parameters['new_crop']=target

In [22]:
parameters.isnull().sum().sum()

0

In [23]:
parameters.head()

,N,P,K,temperature,humidity,ph,rainfall,new_production,new_crop
0,90,42,43,20.879744,82.002744,6.502985,202.935536,2061.0,rice
1,85,58,41,21.770462,80.319644,7.038096,226.655537,2083.0,rice
2,60,55,44,23.004459,82.320763,7.840207,263.964248,1525.0,rice
3,74,35,40,26.491096,80.158363,6.980401,242.864034,5239.0,rice
4,78,42,42,20.130175,81.604873,7.628473,262.717340,5267.0,rice

In [24]:
final_target=parameters.drop(['N','P','K','temperature','humidity','ph','rainfall','new_crop'],axis=1)
final_target.head()

   new_production
0          2061.0
1          2083.0
2          1525.0
3          5239.0
4          5267.0

# Preparing Dataset for Model

In [25]:
final_parameters=parameters.drop(['new_production','N','P','K','temperature','humidity','ph','rainfall'],axis=1)
final_parameters.head()

  new_crop
0     rice
1     rice
2     rice
3     rice
4     rice

In [26]:
from sklearn import tree

In [27]:
croplist=list(set(final_parameters['new_crop']))
productionlist=list(set(parameters['new_production']))

In [28]:
from sklearn.preprocessing import OrdinalEncoder
ordi=OrdinalEncoder()

In [29]:
ordi=OrdinalEncoder(categories=[croplist])
final_parameters[['new_crop']]=ordi.fit_transform(final_parameters[["new_crop"]])
final_parameters.head()

   new_crop
0      16.0
1      16.0
2      16.0
3      16.0
4      16.0

In [30]:
from sklearn import linear_model

In [31]:
reg=linear_model.LinearRegression()

In [32]:
reg.fit(final_parameters,final_target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [33]:
reg.score(final_parameters,final_target)

0.00038029899470781725

In [34]:
final_reg_predict=reg.predict([[croplist.index(recommend_predict)]])

In [35]:
print(recommend_predict.index(recommend_predict))
for i in final_reg_predict:
    for j in i:
        result=j/10000

0

# Output

In [36]:
print('recommend crop:',recommend_predict)
print('Your Required production',h,'KG')
result=int(abs(result))
if(result>h):
    print('Expected production for crop is:',result,'KG')
    print('Expected Profit is: ',result-h,"KG")
else:
    print('Expected production for crop is:',abs(int(result)),'KG')
    print('Expected Loss is:',abs(int(result)),'KG')

recommend crop: muskmelon
Your Required production 50 KG
Expected production for crop is: 120 KG
Expected Profit is:  70 KG